@{
    Layout = null;
}
@model MVC5_EF6.Models.SysUser
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div>

        <h2>Create</h2>

        @using (Html.BeginForm())
        {

            <div>

                @Html.LabelFor(model => model.Username)

                @Html.EditorFor(model => model.Username)

            </div>

            <div>

                @Html.LabelFor(model => model.Email)

                @Html.EditorFor(model => model.Email)

            </div>

            <div>

                @Html.LabelFor(model => model.password)

                @Html.PasswordFor(model => model.password)

            </div>

            <div>

                <input type="submit" value="Create" />

            </div>

        }

        <div>@Html.ActionLink("Back to List", "Index")</div>

    </div>

</body>
</html>
