
@{
    Layout = null;
}
@model IEnumerable<MVC5_EF6.Models.SysUser>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>@Html.DisplayNameFor(model=>model.Username)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Username)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.ActionLink("Details", "Details", new { id =item.ID })</td>
                </tr> 
            }
        </table>
    </div>
</body>
</html>
